@{
    Layout = "~/Views/Shared/_LayoutSC.cshtml";
}
@using ClassLibrarydatabaseModel;


<!DOCTYPE html>

<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>
<h2>Welcome <b>@ViewData["currentUser"]</b></h2>

<body data-ng-app="APIModule">
    <div id="tblSubs" ng-controller="APIController">
        <div class="form-group">
            <button type="button" class="btn btn-default" data-ng-click="show(@ViewData["userId"]);">
                Get Requests
            </button>
        </div>
        <table>
            <tr>
                <th>Title</th>
                <th>Body</th>
            </tr>
            <tbody data-ng-repeat="request in requests">
                <tr>
                    <td>{{request.requestTitle}}</td>
                    <td>{{request.requestBody}}</td>
                </tr>
            </tbody>
        </table>



    </div>
</body>


