
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSC.cshtml";
}

<h2>Login</h2>

<body data-ng-app="APIModule">
    <div id="tblSubs" ng-controller="APIController">
        <h2>Create</h2>
        <div class="form-group">
            <label for="UserName">user Name here</label>
            <input type="text" class="form-control" id="Name" placeholder="Enter userName" [required="string" ] data-ng-model="LogeduserName" />
            <label for="UserName">password here</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" [required="string" ] data-ng-model="Logedpassword" />
        </div>
        <button type="button" class="btn btn-default" data-ng-click="LogIn();">log in</button>
    </div>
</body>